*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(173, 216, 230, 1);
    text-align: center;
}
.container{
    width: 75%;
    margin: auto;
}
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

h1 {
    color: white;
    font-size: 8rem;
    margin-top: 1.5rem;
    font-family: 'Nerko One', cursive;
    text-shadow: 4px 8px 4px grey;
}
.raw{
    margin: auto;
    width: calc(80%/4);
    display: inline;
}
.cards {
    float: left;
    width: 20%;
    height: 400px;
    margin: 2%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 5px grey;
    z-index: 0;
    
}
.card_front{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.card_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: white;
    z-index: 10;
    visibility: visible;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
}
.card_name {
    position: relative;
    margin: 0 auto;
    top: 320px;
    width: 100%;
    font-family: 'Nerko One', cursive;
    font-size: 2rem;
    text-shadow: 5px 3px 4px grey;
}

.cards:hover .card_back{
    visibility: hidden;
}
footer{
    color: black;
    font-size: 2rem;
    margin-top: 1.5rem;
    font-family: 'Nerko One', cursive;
}
 /* cardnames colors */
 #tractor{
    color: rgb(128, 0, 60);
}
#airbaloon{
    color: green;
}
#cruiseship{
    color: blue;
}
#bicycle{
    color: gold;
}
#tram{
    color: rgb(255, 0, 128);
}
#submarine{
    color: rgb(26, 201, 201);
}